<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add connectionString="DATA SOURCE=XE;USER ID=hr;PASSWORD=tiger" name="xe" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>
